@model PlayerFormModel

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="offset-md-3 col-md-5 col-sm-12">
            <h2 class="title text-center mb-4 mt-3">@ViewBag.Title</h2>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter player name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Age" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                    <input asp-for="Age" type="text" class="form-control" placeholder="Enter age">
                    <span asp-validation-for="Age" class="small text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control">
                    <span asp-validation-for="Gender" class="small text-danger"></span>
                    @foreach (Gender gender in (Gender[])Enum.GetValues(typeof(Gender)))
                    {
                        <option>@gender</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StrongHand"></label>
                <select asp-for="StrongHand" class="form-control">
                    <span asp-validation-for="StrongHand" class="small text-danger"></span>
                    @foreach (StrongHand strongHand in (StrongHand[])Enum.GetValues(typeof(StrongHand)))
                    {
                        <option>@strongHand</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BackHandStroke"></label>
                <select asp-for="BackHandStroke" class="form-control">
                    <span asp-validation-for="BackHandStroke" class="small text-danger"></span>
                    @foreach (BackHandStroke backHandStroke in (BackHandStroke[])Enum.GetValues(typeof(BackHandStroke)))
                    {
                        <option>@backHandStroke</option>
                    }
                </select>
            </div>

            <label class="form-label" asp-for="ProfilePhoto">Add cover photo</label>
            <input type="file" name="profilePhoto" class="form-control" />
            <span asp-validation-for="ProfilePhoto" class="text-danger"></span>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input class="btn btn-primary mt-2" type="submit" value="Save"/>
                </div>
            </div>
        </div>
    </div>
</form>